body {
    background-color: #f7f7f7;
    font-family: 'Montserrat';
}

#quiz_header {
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding: 100px 0 45px 0;
    p {
        font-family: sans-serif;
    }
    h1 {
        color: #054950;
        text-transform: uppercase;
        margin-top: 0px;
        padding-bottom: 25px;
    }
}

#quiz_block_panel {
    margin-top: -30px;
    background: darken(#fff, 1);
    border-color: darken(#fff, 8);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2px 25px;
    color: #054950;
}

#quiz_content {
    background-color: #fff;
    min-height: 200px;
    padding: 10px 25px 10px 25px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.quiz-button {
    width: 250px;
    color: #789A9F;
    background-color: #edf4f5;
    border: 1px solid lighten(#789A9F, 20);
    border-radius: 3px;
    padding: 1em 2em;
    margin: 1em;
    text-transform: uppercase;
    transition: .08s;
    &:hover {
        background-color: #789A9F;
        color: #edf4f5;
    }
    &:focus,
    &:active {
        outline: none;
    }
}

.quiz-button-correct {
    background-color: #229954;
    color: #fff;
    text-shadow: 1px 1px #000;
    &:hover {
        background-color: lighten(#229954, 5);
    }
}

.quiz-button-incorrect {
    background-color: #CB4335;
    color: #fff;
    text-shadow: 1px 1px #000;
    &:hover {
        background-color: lighten(#CB4335, 5);
    }
}

.quiz-button-all-in, .quiz-button-go-home {
    width: 130px;
    margin: 0;
}

#quiz_block {
    display: none;
}

.quiz-answer {
    text-align: center;
}

#quiz_timeline {
    height: 2px;
    background-color: darken(#FFF, 5);
}

#quiz_done_timeline {
    width: 0%;
    height: 2px;
    background-color: darken(#FFF, 25);
}

#quiz_finish {
    display: none;

    p {
        font-family: sans-serif;
    }
}

.container {
    max-width: 720px;
}

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 110px;
    font-size: 20px;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    z-index: 2;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

.quiz-result-chart {
    text-align: center;
}